<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.getroomiecode">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RoomsListView"></activity>
        <activity android:name=".ContactActivity" />
        <activity android:name=".SearchResultsImagesActivity" />
        <activity android:name=".SuccessfulSignUpActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".Room1DetailsActivity" />
        <activity android:name=".SearchResultActivity" />
        <activity android:name=".SubmitActivity" />
        <activity android:name=".UploadImageActivity" />
        <activity android:name=".PostingAvailabilityActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="com.parse.SERVER_URL"
            android:value="https://parseapi.back4app.com"/>
        <meta-data android:name="com.parse.APPLICATION_ID"
            android:value="PgdqtLkBa0JiQ8zCrSk0YjHe5TpRRXoQwXXJApKA"/>
        <meta-data android:name="com.parse.CLIENT_KEY"
            android:value="hDTeYzO4WGTnvdJFacBESOZTZL04xsb0SqaIlfJZ"/>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>